<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cats CRUD</title>
</head>
<body>
    <h1>Cats List</h1>
    <ul>
        {% for cats in object_list %}
        <li>{{cats.nickname}} ({{cats.breed.name}})
            <a href="{% url '' %}">(update</a> |
            <a href="">Delete)</a>
        </li>
        {% endfor  %}
    </ul>
    
    <a href="{% url 'catscreate' %}">Add a cat</a>
    <div>
        <a href="{% url 'breedView' %}">View breeds</a> |
        <a href="{% url 'create' %}">Add a breed</a> |
        <a href="/auto/home/">Go Home</a>
    </div>
</body>
</html>
