<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CRUD</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="{% url 'login' %}">Log In</a></li>
				<li><a href="{% url 'register' %}">Sign Up</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h1>Hello World</h1>
		<p>This is coming from a file in auto/templates/main.html</p>
	</main>

	<footer>
		<p>&copy; 2023 DJ4E Sample Implementations</p>
	</footer>
</body>
</html>
