
<form method="post">
  {% csrf_token %}
  {%if error%}
  <p style="color : red;">{{error}}
    {%endif%}
  <div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
<!-- {%for message in messages%}
  <p id="messages">{{messages}}</p>
{%endfor%} -->
  <p> Do not have an account? Create one <a href="{%url 'register'%}">Sign Up</a></p>


</form>
