<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Autos List</title>
</head>
<body>
	<h1>Makes List</h1>
	<ul>
		{% for make in make_list %}
			<li>{{make.auto}} (<a href="{% url 'update' make.pk %}">Update</a> | <a href=" {% url 'delete' make.pk %} ">Delete</a>)</li>
		{% endfor %}
	</ul>
	<div class="add-btn">
		<a href="{% url 'create' %}">Add a make</a>
	</div>
	<div class="back-btn">
		<a href="{% url 'autos' %}">Back to autos</a>
	</div>
</body>
</html>
